.search-width {
    width: 95%
}

.search-item {
    width: 77%;
    padding: 5px;
}

.search-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.search-field {
    display: flex;
    align-items: flex-end;
}

@media screen and (min-width: 600px) {
    .search-width {
        width: 400px;
    }
    .search-item {
        width: 85%;
    }
}
@media screen and (min-width: 400px) {
    .search-item {
        width: 80%;
    }
}
