.fields_width {
    width: 60%;
}


.save {
    display: block;
}

.label_name {
    width: 170px;
}

.visibility {
    width: 30%;
}

.fields_container {
    width: 100%;
    margin: 0;
    display: inline-block;
}

.user_img {
    vertical-align: top;
    display: inline-block;
}

.file {
    display: block;
}

.fields_margin {
    margin: 10px 10px 30px 10px;
}

@media screen and (min-width: 600px) {
    .fields_container {
        width: 550px;
        margin: 20px;
    }
}
