header {
    padding: 2px 5px;
    background-color: #001a4d;
    height: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
}

header button {
    padding: 5px 20px;
    background-color: #001a4d;
    color: white;
    border: thin solid #00ffff;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    height: 50px;
}
header button:hover {
    color: #00ffff;
}

.username {
    text-transform: none;
    letter-spacing: inherit;
    font-size: 15px;
    display: none;
}

.logo {
    height: 50px;
    display: none;
}
.minilogo {
    height: 50px;
    display: inline-block;
}
.header-logo {
    place-self: self-start;
    align-self: center;
}
.curr-user {
    place-self: self-end;
    align-self: center;
}
.header-btns {
    place-self: center;
    align-self: center;
}

.curr-user button {
    margin: 0;
    border: none;
    padding: 5px 10px;
}

.btn-text {
    display: none;
}
.home-btn {
    display: none;
}
@media screen and (min-width: 992px) {
    .btn-text {
        display: contents;
    }
}
@media screen and (min-width: 768px) {
    .username {
        display: contents;
    }
    .logo {
        display: inline-block;
    }
    .minilogo {
        display: none;
    }
}
@media screen and (min-width: 350px) {
    .home-btn {
        display: inline-block;
    }
}
