textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.available {
    width: 90%;
}

.error {
    color: red;
    margin: 5px;
}
