<html lang="en">
<head>
    <title>Reset Password</title>
    <style>
        header {
            height: 70px;
            background-color: #001a4d;
        }
        img {
            height: 50px;
            margin: 10px 5px;
        }
        .root {
            background-color: #f2f2f2;
        }
        .content {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="root">
        <header>
            <a href="{{home}}">
                <img src="cid:logo" alt="SoNet">
            </a>
        </header>
        <div class="content">
            <p>
                <b>Dear {{ user }}</b>,
            </p>
            <p>
                Your password for SoNet has been changed successfully.
            </p>
            <p>
                Thank you for choosing our network!
            </p>
            <p>
                <b>Sincerely</b>,<br>
                <b>SoNet</b>
            </p>
        </div>
    </div>
</body>
</html>
