body {
  background-color: #f2f2f2;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.margin {
  margin: 5px;
}

.big_margin {
  margin: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.article-card {
  margin: 10px auto 0 auto;
  width: 100%
}


.icon {
  margin-right: 5px;
}

.menu-item {
  display: flex;
  align-items: flex-end;
}

.heading {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .article-card {
    width: 500px;
  }
}
