body {
  background-color: #f2f2f2;
}

.body_button {
  padding: 5px 10px;
  color: #001a4d;
  border-width: thin;
  border-color: #001a4d;
  border-style: solid;
  border-radius: 10px;
  margin: 5px;
  font-size: 14px;
  background-color: white;
}

.body_button:hover {
  background-color: #f2f2f2;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.margin {
  margin: 5px;
}

.big_margin {
  margin: 20px;
}

input, select, textarea {
  border-radius: 7px;
  border-width: thin;
  padding: 3px;
  border-color: #001a4d;
}

a {
  color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
