body {
  background-color: #f2f2f2;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.margin {
  margin: 5px;
}

.big_margin {
  margin: 20px;
}

a {
  color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.outer {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}
.inner {
  display: inline-block;
  text-align: left;
  width: 40%;
}

.article-card {
  margin: 10px auto 0 auto;
  width: 100%
}

.search:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.login-btns {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  height: 50px;
  padding: 5px 20px;
  cursor: pointer;
}

.facebook-login {
  background-color: #395697;
  color: white;
  border-color: #395697;
}

.facebook-login:hover {
  background-color: #003366;
  border-color: #003366;
}
.google-login {
  background-color: white;
  color: black;
  border-color: #E8E8E8;
}
.google-login:hover {
  background-color: #f2f2f2;
}

.auth-card {
  width: 95%;
  text-align: center;
  margin: 10px auto;
}

.auth-field {
  margin: 10px auto;
  width: 90%;
}

.icon {
  margin-right: 5px;
}

.menu-item {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 600px) {
  .auth-card {
    width: 500px;
  }
  .auth-field {
    width: 320px;
  }
  .article-card {
    width: 500px;
  }
}
