.login-btns {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    height: 50px;
    padding: 5px 20px;
    cursor: pointer;
}

.facebook-login {
    background-color: #395697;
    color: white;
    border-color: #395697;
}

.facebook-login:hover {
    background-color: #003366;
    border-color: #003366;
}
.google-login {
    background-color: white;
    color: black;
    border-color: #E8E8E8;
}
.google-login:hover {
    background-color: #f2f2f2;
}

.auth-card {
    width: 95%;
    text-align: center;
    margin: 10px auto;
}

.auth-field {
    margin: 10px auto;
    width: 90%;
}

@media screen and (min-width: 600px) {
    .auth-card {
        width: 500px;
    }
    .auth-field {
        width: 320px;
    }
}
