.article_outer {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.article_inner {
    display: inline-block;
    text-align: left;
    margin: 10px;
    margin-bottom: 0;
    width: 40%;
}

.date {
    font-size: 10px;
    color: gray;
}

